<%- include('partial/header.ejs') %>

<div id="app">
    <section class="title flex-col">
        <h1>나의 <strong>추억</strong>을 공유합니다.</h1>
        <p>일상 속의 지표를 남기고 공유할 수 있습니다.</p>
    </section>
    <%- include('start.ejs') %>
    <%- include('stories.ejs') %>
    <%- include('upload.ejs') %>

</div>
<div class="rand-img"></div>

<%- include('partial/footer.ejs') %>