<%- include('partial/header') %>
<%- include('partial/title') %>

<section class="section stories">
    <aside class="map" id="map"></aside>
    <article class="story">
        <div class="story-img" role="img"></div>
        <p>
            <%= foundItem.author %>님의 추억입니다.
        </p>
        <h2><%= foundItem.title %></h2>
        <h3 id="address"><%= foundItem.address %></h3>
        <p>
            <%= foundItem.descript %>
        </p>
        <h4>#<%= foundItem.placeName %></h4>
        <a href="/stories" class="btn" role="button" style="display: block;">모든 사람의 추억 보러가기 ⇀ </a>
    </article>
</section>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= mapKey %>&libraries=services"></script>
<script src="/js/kakao-map.js" defer></script>

<%- include('partial/footer') %>