<%- include('header_footer/header.ejs') %>

<div class="app">
  <section class="main">
    <h2>main page</h2>
    <p>hello world😃</p>
    <%- include('list.ejs') %>
    <span class="goCreate">추가</span>
    <span class="goDelete">삭제</span>
  </section>

  <%- include('update.ejs') %>
  <%- include('create.ejs') %>
  <%- include('delete.ejs') %>

</div>
<!-- <img src="/img/test.png" alt=""> -->

<%- include('header_footer/footer.ejs') %>
